---
---

<footer class='footer'>
  <div class='footer__info'>
    <h4 class='info__title'>mochis mochis</h4>
    <span class='info__rights'>Derechos reservados</span>
  </div>
</footer>

<style>
  .footer {
    display: block;
    margin: 0 auto;
    width: 85%;
    padding: 1rem;
    margin-top: 8rem;
    border-top: 1px solid black;
  }

  .footer__info {
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
  }
</style>
